body {
    font-size: 16px;
    background-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mulish;
}
.form-wrapper {
    position: relative;
    display: grid;
    margin: 50px 0 50px 400px;
    grid-template-columns: 3fr 2fr;
    max-width: 1200px;
}


.form-side {
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: white;
}



.welcome-message {
    max-width: 360px;
}


.my-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    gap: 16px;
    max-width: 460px;
    min-width: 300px;
    width: 100%;
    padding: 48px 32px;
    height: fit-content;
    box-shadow: 
        rgba(100, 100, 111, 0.2)
        0px 7px 29px 0px;
}

.form-welcome {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.form-welcome-row {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
}

.form-welcome-row h1 {
    font-size: 1.6rem;
}

.my-form__button {
    background-color: #e636b7d1;
    color: white;
    white-space: nowrap;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    line-height: 50px;
    outline: none;
    font-size: 18px;
    letter-spacing: .025em;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
    min-height: 50px;
    width: 100%;
    margin-right: 6px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.15);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}


.my-form__actions a:first-child {
    text-align: left;
}


.my-form__actions a:last-child {
    text-align: right;
}

.my-form__actions a:hover {
    text-decoration: underline;
}

.my-form__row {
    display: flex;
    justify-content: space-between;
}

.my-form__signup {
    display: flex;
    justify-content: center;
}

.my-form__signup a {
    font-weight: 800;
    text-decoration: none;
    font-size: 18px;
}

.my-form__signup a:hover {
    text-decoration: underline;
}

.text-field input {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    max-width: 100%;
    width: 100%;
    margin-top: 2px;
    border: 1px solid #000000be;
    height: 50px;
    letter-spacing: .03rem;
    background-color: transparent;
    outline: none;
    transition: .25s;
    border-radius: 8px;
    text-indent: 20px;
}

.text-field label:focus-within  {
    color: black;
}

.text-field {
    position: relative;
    max-height: 50px;
}


.text-field input:focus {
    border: 3px solid black;
}


